*.retry
builds/
builds-config/
builds-config-old/*
output-virtualbox-ovf/
virtualbox-ovf/
.vagrant/
bin/packer
version
*-no-cloud.json
version-ubuntu_1804_de*
packer.log
tmp/
log/
ansible/test.yml
downloads/
venv/
packer_cache/
inspec_test/locale_de/controls/sa.rb
ansible/requirements-ubuntu_1804_de_sa.yml
ansible/main-ubuntu_1804_de_sa.yml
