---
language: bash
sudo: enable
before_install:
  # Install Ansible repository.
  - sudo apt -y update && sudo apt-get -y upgrade
  - sudo apt -y install -y software-properties-common
  - sudo apt-add-repository -y ppa:ansible/ansible

  # Install Ansible.
  - sudo apt -y update
  - sudo apt -y install ansible
