---
- hosts: all
  #become: yes
  gather_facts: yes
  vars:
    nodejs_version: "8.x"
    npm_config_unsafe_perm: "true"
  roles:
    - role: geerlingguy.nodejs
      become: yes
    - role: kraeml.jupyter
      become: yes
      # ToDo Now for all boxes not only for ina
      jupyter_ijavascript: true
      tags:
        - python-dev
        - jupyter
